# Agenda

1. Noteable update
2. Q&A
3. Tuples and unpacking
4. Dictionaries
5. Files

This will update on GitHub in the next minute or two or three....

# Tuples

We have seen in previous sessions that there are two basic "sequence" data types.

- Strings, which contain characters and are immutable
- Lists, which contain anything at all and are mutable

There are three sequence types in Python: Strings, lists, and tuples.

- Tuples can contain anything (like lists) but are immutable (like strings)

Some people like to say that tuples are "locked lists" or "immutable lists." That's not a bad way to think about them when you're starting off.

But... that's not how we're supposed to think about them in the world of Python. Rather:

- Lists are for sequences where all values are of the same type
- Tuples are for sequences where the values are of different types

Tuples are Python's records or structs.

Can you use a list with different types? Yes. Can you use a tuple with the same type? Yes. But the convention is there, and it's worth paying attention to, especially for lists.

In [1]:
# defining tuples with ()

t = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

# many of the things we've done with strings and lists also work on tuples!
len(t)

10

In [2]:
t[0]   # first element

10

In [3]:
t[1]   # second element

20

In [4]:
t[-1]  # final element

100

In [5]:
t[3:7]   # slice, starting at t[3] up to and not including t[7]

(40, 50, 60, 70)

In [6]:
# I can iterate over a tuple with a for loop

for one_item in t:
    print(one_item)

10
20
30
40
50
60
70
80
90
100

In [7]:
40 in t   # search with the "in" operator

True

In [8]:
# what if I try to change my tuple?

t[3] = '!'

TypeError: 'tuple' object does not support item assignment

# Why do we need tuples?

The big reason: They're immutable, and thus much more efficient than lists.

Tuples are used behind the scenes in many places in Python. For example, when we invoke a function, the arguments are passed as a tuple. 

We're not going to use tuples very much, but you should know what they are, and how to define them.

# Mutable vs. immutable

I can always create a new value and assign it to a variable:

```python
x = 5
x = x + 3    # here, we create the int 8 and assign to x
print(x)     # 8
```

I cannot change the value of 5 to something else; it'll always be 5.  That's because an integer value is immutable. It always stays the same.

Strings are similar; once we define them, they cannot be changed:

```python
s = 'abcd'
s = s + 'efgh'    # here, we create a new string 'abcdefg' and assign to s
print(s)          # 'abcdefgh'  
```

The important thing to remember here is that we did *not* change the string. We created a new string here.

Lists *are* mutable! Even if I change some elements and change the length of the list, it's not a new, different list:

```python
mylist = [10, 20, 30]
mylist[0] = '!'
mylist.append(40)
print(mylist)     # ['!', 20, 30, 40]
```

Never in the above code did I say `mylist = ` something. It's the same list all the time, it just changed.

Integers, strings and tuples are immutable; once we have defined them, we cannot change them. But lists can be changed, and are known as "mutable."  This means that if you have two variables referring to the same list, changing the list for one will also change it for the other.

In [9]:
# here, let's define a tuple for a person:

person = ('Reuven', 'Lerner', 46)

In [10]:
person[0]

'Reuven'

In [11]:
person[1]

'Lerner'

In [12]:
person[2]

46

# Lists vs. tuples

When you use one vs. the other has to do with the data stored inside, not whether you want to modify it. Some examples of when you might use each:

## Lists
- Files in a directory
- People in a company
- Database records
- IP addresses

## Tuples
- The attributes of a given file (name, size, permissions)
- The attributes of a person (name, ID number, shoe size)
- The individual fields of a given database record
- the IP address, the netmask, etc.

When you retrieve from a database in Python, it's almost always going to be a list of tuples. The list is because it has many items of the same type, but the tuple is because each field is of a different type.

In [13]:
# The most common use of tuples is in something called "unpacking"

mylist = [10, 20, 30]   # yes, a list
x = mylist    # what is the value of x?

x

[10, 20, 30]

In [14]:
# what if I do this, though?

x,y,z = mylist   # this is known as unpacking!

In [15]:
print(f'{x=}, {y=}, {z=}')    # this is new-ish Python syntax, where {x=} prints x and x's value

x=10, y=20, z=30

Unpacking means that:

- We have a sequence on the right of assignment
- We have a tuple of variables, separated by commas, on the left of assignment
- We have the same number of variables as elements in the sequence

We end up with each element of the sequence assigned to a different variable

Where's the tuple? The answer is: You can create a tuple without parentheses! The variables on the left are actually in a tuple.

In [16]:
10,20,30

(10, 20, 30)

In [17]:
# unpacking is really common!
# the most common demo is to swap variable values.

x = 1234
y = 5678

x,y

(1234, 5678)

In [18]:
x,y = y,x    # now, we're going to assign x to y and in parallel assign y to x

print(x)
print(y)

5678
1234

In [19]:
mylist

[10, 20, 30]

In [20]:
w,x,y,z = mylist

ValueError: not enough values to unpack (expected 4, got 3)

In [21]:
x,y = mylist

ValueError: too many values to unpack (expected 2)

In [22]:
# where do we see this? 
# another example: enumerate, when we're iterating

s = 'abcd'

for one_character in s:
    print(one_character)

a
b
c
d

In [23]:
# what if I also want the index of each character?
# I can use enumerate!

for index, one_character in enumerate(s):   # enumerate gives us both the index and the character
    print(f'{index}: {one_character}')

0: a
1: b
2: c
3: d

In [24]:
# what if I just have one variable in my "for" loop?

for one_thing in enumerate(s):
    print(one_thing)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [25]:
# I could use unpacking in this way:

for one_thing in enumerate(s):
    index, one_character = one_thing   # because I know one_thing is a 2-element tuple
    print(f'{index}: {one_character}')

0: a
1: b
2: c
3: d

In [26]:
# Python lets me get a shortcut, combining the "for" loop with the unpacking line

for index, one_character in enumerate(s):   # enumerate gives us both the index and the character
    print(f'{index}: {one_character}')

0: a
1: b
2: c
3: d

In [27]:
# what if I have a tuple of lists?

t = ([10, 20, 30], [40, 50, 60])

In [28]:
# can I change the tuple? No, it is immutable

t.append([70, 80, 90, 100])

AttributeError: 'tuple' object has no attribute 'append'

In [29]:
# can I change an element?

t[0] = [1,2,3,4]

TypeError: 'tuple' object does not support item assignment

In [30]:
# the tuple is permanently defined to refer to those two lists
# but... the lists can change!

t[0].append(35)
t

([10, 20, 30, 35], [40, 50, 60])

# Dictionaries

Dictionaries ("dicts" in the Python world) are the most important data structure. We use them all the time, and so does Python! Dicts aren't unique to Python; they have other names in other languages:

- Hash tables
- Hash maps
- Hashes
- Maps
- Associative arrays
- Key-value stores
- Name-value stores

There are several ways to think of dictionaries:

1. They are just like lists, except that we can define the index (known as the "key"), rather than accept the standard 0, 1, 2, 3, etc.
2. They are pairs of data (keys and values), where we can define both of those

It turns out that there are *many* places in programming where having key-value stores is extremely useful:

- Names of months + numbers of months
- Numbers of months + names of months
- Usernames and passwords
- Usernames and user info
- Filenames and file info
- Stock ticker symbol and company history

In a Python dict:
- The key must be immutable (normally a number or string) and unique in the dict
- The value can be anything at all

We define dictionaries with `{}`:
- Each key-value pair has a `:` between the key and value
- Between pairs, we have `,`

In [31]:
# here is a simple dictionary: 
d = {'a':10, 'b':20, 'c':30}

In [32]:
type(d)   # what kind of value is d storing?

dict

In [33]:
# how can I retrieve a value based on a key
# the answer: Use []

d['a']   # use the 'a' key to get the value 10

10

In [34]:
# I can use a variable instead of a literal string
key = 'b'
d[key]

20

In [35]:
# what if I try to retrieve a key that doesn't exist?
# bad news -- I get a KeyError

d['x']

KeyError: 'x'

In [36]:
# we can protect ourselves a bit by checking if a key is in the dict first
# we can use the "in" operator
# but in the case of a dict, "in" only searches the keys!

'a' in d

True

In [37]:
10 in d

False

In [38]:
# a dict is a one-way street -- we can get the value via the key, but not vice versa

# Exercise: Restaurant

1. Define a dict, `menu`, whose keys are strings (items on a restaurant menu) and whose values are integers (the prices of those items).
2. Define `total` to be 0.
3. Ask the user, again and again (using a `while` loop) to order something on the menu
    - If they give an empty string (`''`), then stop asking and print the total
    - If they name something on the menu (i.e., a key in the dict), then add the price to `total` and print the new total
    - If they name something *not* on the menu, then scold them and have them try again
4. Print the total

Example:

    Order: sandwich
    sandwich is 10, total is 10
    Order: tea
    tea is 8, total is 18
    Order: elephant
    Sorry, we are out of elephant today!
    Order: [ENTER]
    Total is 18

In [39]:
menu = {'sandwich':10, 'tea':8, 'apple':2, 'cake':5}
total = 0

while True:
    order = input('Order: ').strip()

    if order == '':    # we didn't get any input? break out of the while loop
        break

    if order in menu:          # if the user's input is a key in our "menu" dict
        price = menu[order]    # get the price via the dict + its key (from the user)
        total += price         # add the price to the total
        print(f'{order} is {price}; total is now {total}')
    else:
        print(f'We are out of {order} today!')

print(f'{total=}')   # use the new-ish Python f-string = trick

Order:  sandwich

sandwich is 10; total is now 10

Order:  tea

tea is 8; total is now 18

Order:  elephant

We are out of elephant today!

Order:

total=18

In [40]:
'abc' == 'Abc'

False

In [41]:
menu = {"Sandwhich":200,"C milkshake": 120,"Tea":20,"Coffee":30,"Bun maska":36,"Pizza":120}
total =0
while order!="":
    if order in menu:
        total += menu[order]
    else:
        print("Not in memnu")
print(total)

0

In [42]:
menu

{'Sandwhich': 200,
 'C milkshake': 120,
 'Tea': 20,
 'Coffee': 30,
 'Bun maska': 36,
 'Pizza': 120}

In [43]:
'Tea' in menu    # notice the capital T

True

In [44]:
'tea' in menu   # notice the lowercase t

False

In [45]:
' Tea' in menu   # space before T

False

In [47]:
'e' in menu   # 'e' is in several items, but this will *not* match

False

# Next up:

1. Modifying dictionaries
2. Other paradigms for working with them

In [46]:
d = {'a':10, 'b':20, 'c':30}

# how can I modify a value in this dict?
# meaning: keep the key the same, but update the value

# answer: assign to it
d['a'] = 12345
d

{'a': 12345, 'b': 20, 'c': 30}

In [48]:
# in a list, if we want to add a new element, we can use .append or +=
# in a dict, we just ... assign the new key-value pair

d['x'] = 98765
d

{'a': 12345, 'b': 20, 'c': 30, 'x': 98765}

If we assign to a key in a dict, then one of two things can happen:

- If the key is new, then the new key-value pair is added
- If the key already exists, then the value is updated

In [49]:
d['a'] += 5   # this adds 5 to whatever the previous value was for d['a']
d

{'a': 12350, 'b': 20, 'c': 30, 'x': 98765}

In [50]:
d['z'] += 10   # try to add 10 to d['z'], which doesn't exist...

KeyError: 'z'

# Paradigms of dict use

1. We define a dict and never change it throughout the program -- we just use it as a database in memory
2. We define a dict, and never change its keys, but we do update its values
3. We define an empty dict, and update both its keys and its values over time

In [52]:
# paradigm 2: we define a dict with keys and default/starter values
# over time, we modify/update those values to reflect what we have seen
# great for keeping track of counting different things, if we know what we're counting from the start

# example: odds and evens

mylist = [10, 15, 20, 21, 30, 35]
counts = {'odds': 0, 'evens':0}    # dict in which I'll keep track of the count

for one_value in mylist:
    if one_value % 2 == 0:    # if there's no remainder after dividing by 2, it must be even
        counts['evens'] += 1
        print(f'\t{one_value} is even')
    else:
        counts['odds'] += 1
        print(f'\t{one_value} is odd')

print(counts)  # print the dict

	10 is even
	15 is odd
	20 is even
	21 is odd
	30 is even
	35 is odd
{'odds': 3, 'evens': 3}

# Exercise: Vowels, digits, and others (dict edition)

1. Define a dict with three keys: `vowels`, `digits`, and `others`, whose values should all be 0.
2. Ask the user, repeatedly, to enter a string.
    - If you get an empty string, stop asking
3. Go through the user's input string, one character at a time:
    - If it's a digit, add one to the `digits` value
    - If it's a vowel (a, e, i, o, or u) then add one to the `vowels` value
    - Otherwise, add 1 to `others`
4. When we're done asking, print the dict

Notes:
- Use a `while` loop to ask the user repeatedly
- Compare with `''` to `break` when needed
- Use a `for` loop inside of the `while` loop to go through each character
- Don't forget the `str.isdigit` method, which tells you if a string contains only digits 0-9